<div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    // We will also prevent moving ahead for registering views as we are not interested in local views.
    if (window.location.hostname == "localhost")
        return;

    // Registering views on db.
    fetch(`https://homeip.harshankur.com/registerView?appId=blog&deviceSize=${window.outerWidth > 960 && window.outerHeight > 960 ? "large" : window.outerWidth > 540 && window.outerHeight > 540 ? "medium" : "small"}`)
        .then(data => data.json())
        .then(response => console.log(`RESPONSE FROM VIEWCOUNTER => ${JSON.stringify(response)}`));

    // Proceed with disqus stuffs
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '{{ .Param "DisqusShortname" }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>